
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
   
}




/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */


:disabled{
    background-color: #eae6e6;
}
#sidebar {
    min-height: 110vh;
    background: #645CAA;
    color: #fff;
    transition: all 0.3s;
    padding: 10%;
    margin-right: 0px;
  
}
input{
    margin-bottom: 5%;
}
.submit{
    display: flex;
margin-left: auto;
}



/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
    height: auto;
    width: 100%;
    max-width: 150%;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
  
    }

}
@media (max-width: 768px) {
    .sidebar-header {
display: none;
  
    }

}

