@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    margin: 0px!important;
    overflow-x: hidden;
}
.btn-outline-success {
    color: #645CAA;
    border-color: #645CAA;
}
.btn-outline-success:hover,btn-outline-success:active,btn-outline-success:focus {
    background-color: #645CAA;
    border-color: #645CAA;
    color: white;
}





/* Primary buttons //// */
.btn-primary {
    background-color: #645CAA;
    border-color: white;
    color:white;
}
.btn-primary:hover,btn-outline-primary:active,btn-outline-primary:focus {
    background-color: #AAC4FF;
    border-color: white;
    color: white;
}





