<div class="card mb-3 card__hover" (click)="clickUser.emit(user)">
  <a class="delete-icon" (click)="deleteUser()"
    ><i class="bi bi-trash delete-icon"></i>
  </a>
  <div class="row no-gutters">
    <div class="col-md-4">
      <img [src]="user.image" class="image" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <form [formGroup]="userForm" class="form-group">
          <label for="nom">Nom: </label>
          <input
            class="form-control"
            id="nom"
            type="text"
            formControlName="_nom"
          />

          <label for="last-name">prenom: </label>
          <input
            class="form-control"
            id="prenom"
            type="text"
            formControlName="_prenom"
          />
          <label for="last-name">Nombre_enfants: </label>
          <input
            class="form-control"
            id="nombre_enfants"
            type="text"
            formControlName="_nombre_enfants"
          />

          <button
            class="btn btn-primary submit"
            (click)="onSubmit()"
            [disabled]="!userForm.valid"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
